.header {
    &__content{
        min-height: 230px;
        background-color: #dcdcdc;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0 0 0;
    }

    &__column {
        position: relative;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        padding: 0 0 0 10px;
        // &:before{
        //     content:'';
        //     position: absolute;
        //     height: 100px;
        //     width: 100px;
        //     background-color:#777777;
        //     top: 50%;
        //     left: 0;
        //     @include tr(0px,-50%,0px);
        // }
        img{
            margin: 0 15px 0 0;
        }
    }

    &__title {
        font-family: PTSans;
        font-size: 24px;
        font-weight: 700;
        color: #767676;
    }

    &__subtitle {
        padding:20px 0 0 0;
        font-family: PTSans;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #767676;
    }

    &__number {
        display: flex;
        flex-direction: column;
        &:last-child{
            align-items:flex-end;
        }
        }
        &__phone {
            font-family: "OpenSansCondensed-Light";
            font-size: 40px;
            line-height: 46px;
            font-weight: 300;
            color: #767676;
        }
        &__link {
            display: inline-block;
            font-family: PTSans;
            font-size: 24px;
            line-height: 46px;
            font-weight: 700;
            color: #767676;
            @include anim(0.5s, 0s);
            &:hover{
                color: #fff;
            }
            span{
                border-bottom: dashed;
            }
        }

        &__menu {
            background-color: #777777;
            min-height: 80px;
        }
        @media (max-width: 600px){
            &__items{
                flex-wrap: wrap;
                justify-content: center;
                padding: 20px 0 20px 0;
            }
            &__title{
                
            }
            &__number{
                
            }
        }
        @media (max-width:564px){
            &__number {
                &:last-child{
                    align-items:center;
                }
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    position: relative;

    &__list {
        display: flex;
        flex-wrap: wrap;
        li{
            padding: 0 20px;
            position: relative;
                &:after{
                    content:'';
                    position: absolute;
                    height: 25px;
                    width: 2px;
                    background-color: #fff;
                    right: 0;
                    bottom: 0;
                }
                &:last-child{
                    &:after{display: none;}
                }
            }
        }


    &__link {
        font-family: PTSans;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
        position: relative;
        @include anim(0.5s, 0s);
        &:after{
            content: '';
            position: absolute;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: #fff;
            bottom: 0;
            @include anim(0.3s, 0s);
        }
        &:hover{
            &:after{
                left: 0;
                width: 100%;
            }
        }
    }
    @media (max-width: 965px){
        &__body{
            z-index: 4;
            position: fixed;
            overflow: auto;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #555555;
            padding: 150px 0 0 0;
            @include tr(0px, -100%, 0px);
            @include anim(0.3s,0s);
            &.active{
                @include tr(0px, 0%, 0px);
            }
        }

        &__list{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li{
                padding: 15px;
                &:after{
                    content: '';
                    display: none;
                }
            }
        }
    }
}



/* burger */
.icon-menu {
	@media (max-width:965px){
		display: block;
		position: absolute;
		top: 30px;
		right: 30px;
		width:45px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #fff;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);background-color: #fff;
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
}







