.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;

    &__area{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor:default;
    }
    
    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }

    &__content {
        background-color: #dcdcdc;
        color: #000;
        max-width: 800px;
        padding: 30px;
        position: relative;
    }

    &__close {
        position: absolute;
        right: 10px;
        top: 10px;
        color: black;
        text-decoration: none;
    }

    &__title {
        font-size: 20px;

    }

}
.popup:target{
    opacity: 1;
    visibility: visible;
}

.form {
    text-align: center;
    &__name {
        margin: 20px;
    }

    &__number {
        margin: 20px;
    }

    &__button {
        border-radius: 2px;
        padding: 5px;
        margin: 20;
    }
}
.input-wrap{
    text-align: left;
    label{
        width: 100%;
        display: block;
        &.error{
        color: red;
        }
    }
    input{
        width: 100%;
        display: block;
        border: 1px solid black;
        margin-bottom: 5px;
        &.error{
            border-color: red;
        }
    }
}
