@charset "UTF-8";

/* Міксини */

/* Підключення шрифтів файлове*/

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

@font-face {
  font-family: "OpenSansCondensed-Light";
  font-display: swap;
  src: url("../fonts/OpenSansCondensed-Light.woff") format("woff"), url("../fonts/OpenSansCondensed-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Підключення шрифтів */

/* Змінні */

/* Підлключення сторінок */

.header__content {
  min-height: 230px;
  background-color: #dcdcdc;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 0 0;
}

.header__column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 10px;
}

.header__column img {
  margin: 0 15px 0 0;
}

.header__title {
  font-family: PTSans;
  font-size: 24px;
  font-weight: 700;
  color: #767676;
}

.header__subtitle {
  padding: 20px 0 0 0;
  font-family: PTSans;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #767676;
}

.header__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__number:last-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__phone {
  font-family: "OpenSansCondensed-Light";
  font-size: 40px;
  line-height: 46px;
  font-weight: 300;
  color: #767676;
}

.header__link {
  display: inline-block;
  font-family: PTSans;
  font-size: 24px;
  line-height: 46px;
  font-weight: 700;
  color: #767676;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__link:hover {
  color: #fff;
}

.header__link span {
  border-bottom: dashed;
}

.header__menu {
  background-color: #777777;
  min-height: 80px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__list li {
  padding: 0 20px;
  position: relative;
}

.menu__list li:after {
  content: '';
  position: absolute;
  height: 25px;
  width: 2px;
  background-color: #fff;
  right: 0;
  bottom: 0;
}

.menu__list li:last-child:after {
  display: none;
}

.menu__link {
  font-family: PTSans;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__link:after {
  content: '';
  position: absolute;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover:after {
  left: 0;
  width: 100%;
}

/* burger */

.footer {
  background-color: #777777;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}

.footer__content a {
  color: #ffffff;
}

.footer__mail {
  margin: 0 150px 0 0;
  font-family: PTSans;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.footer__catalog {
  margin: 0 285px 0 0;
}

.footer__list {
  font-family: PTSans;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-decoration: underline;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.footer__developers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: PTSans;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.footer__logo {
  margin: 0 6px;
}

.footer__link {
  text-decoration: underline;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: default;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #dcdcdc;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: black;
  text-decoration: none;
}

.popup__title {
  font-size: 20px;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.form {
  text-align: center;
}

.form__name {
  margin: 20px;
}

.form__number {
  margin: 20px;
}

.form__button {
  border-radius: 2px;
  padding: 5px;
  margin: 20;
}

.input-wrap {
  text-align: left;
}

.input-wrap label {
  width: 100%;
  display: block;
}

.input-wrap label.error {
  color: red;
}

.input-wrap input {
  width: 100%;
  display: block;
  border: 1px solid black;
  margin-bottom: 5px;
}

.input-wrap input.error {
  border-color: red;
}

/* Обнулення стилів */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "PTSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "PTSans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Оболочка */

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

/* Основна сітка */

.container {
  max-width: 980px;
  padding: 0px 10px;
  margin: 0px auto;
}

/* Слайдер========================================================================================================= */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider {
  position: relative;
  height: 400px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-prev {
  left: 210px;
  background: url("../img/icons/arrow_left.png") 0 0 no-repeat;
}

.slider .slick-next {
  right: 210px;
  background: url("../img/icons/arrow_right.png") 0 0 no-repeat;
}

.slider__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.slider .slick-center {
  opacity: 1;
}

/* Breadcrumbs======================================================================================================= */

.breadcrumbs {
  padding: 10px;
}

.breadcrumbs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__row li {
  font-family: PTSans;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #767676;
}

.breadcrumbs__item {
  color: #767676;
  padding-right: 5px;
}

.breadcrumbs__item span {
  text-decoration: underline;
}

/* Content============================================================================================================= */

/* sidebar */

.content__shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 10px 0 0;
}

.sidebar__list li {
  position: relative;
}

.sidebar .sidebar__list > li:hover .sub-menu__list {
  display: block;
}

.sidebar .sidebar__list > li:hover .sub-menu__list a {
  font-size: 14px;
  line-height: 22px;
  text-decoration: underline;
  color: #767676;
}

.sidebar .sidebar__list > li:hover .sub-menu__list a:hover {
  color: #010101;
}

.sidebar__link {
  font-family: PTSans;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #767676;
}

.sub-menu__list {
  display: none;
  position: relative;
  top: 0;
  left: 15px;
}

.sub-menu__list li {
  list-style: disc;
}

.sub-menu__list:hover {
  display: block;
}

/* cards */

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__item {
  text-align: center;
  background-color: #dcdcdc;
  width: 250px;
  height: 380px;
  margin: 10px 7.5px;
}

.cards__content {
  padding: 0 20px;
}

.cards__pict {
  margin: 10px 0;
}

.cards__text {
  font-family: PTSans;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #767676;
  margin: 0 0 55px 0;
  text-align: left;
}

.cards__price {
  font-family: PTSans;
  font-size: 28px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #444444;
  text-align: left;
  position: relative;
}

.cards__price:after {
  content: '';
  height: 25px;
  width: 25px;
  position: absolute;
  background-image: url("../img/icons/bout_icon.png");
  top: 0;
  left: 170px;
}

.pagination {
  font-family: PTSans;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.565em;
  color: #767676;
  text-align: center;
  padding: 30px 0 65px  0;
  border-bottom: solid 2px;
}

.pagination a:focus {
  font-size: 18px;
  color: #444444;
}

.botom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.botom__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 20px 20px 200px 0;
  font-family: PTSans;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #767676;
}

@media (max-width: 965px) {
  .menu__body {
    z-index: 4;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #555555;
    padding: 150px 0 0 0;
    transform: translate3d(0px, -100%, 0px);
    -webkit-transform: translate3d(0px, -100%, 0px);
    -ms-transform: translate3d(0px, -100%, 0px);
    -o-transform: translate3d(0px, -100%, 0px);
    -moz-transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body.active {
    transform: translate3d(0px, 0%, 0px);
    -webkit-transform: translate3d(0px, 0%, 0px);
    -ms-transform: translate3d(0px, 0%, 0px);
    -o-transform: translate3d(0px, 0%, 0px);
    -moz-transform: translate3d(0px, 0%, 0px);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__list li {
    padding: 15px;
  }

  .menu__list li:after {
    content: '';
    display: none;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 45px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: #fff;
  }

  .icon-menu.active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu.active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }

  .slider {
    display: none;
  }

  .content__shop {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 735px) {
  .footer__mail {
    margin: 30px;
  }

  .footer__catalog {
    margin: 30px;
  }

  .footer__developers {
    margin: 30px;
  }
}

@media (max-width: 678px) {
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .header__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0 20px 0;
  }

  .content__shop {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .botom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .botom__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 20px;
  }
}

@media (max-width: 564px) {
  .header__number:last-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 548px) {
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 458px) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}